@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

//with - ключевое слово для настройки импортированного модуля и переопределения значений
@use "btn/btn" as btn with (
  $btn-layer-spacing: 4px
);

.welcome {
  grid-area: welcome; //присваивает элемент определенной области сетки, позволяя разместить его в заранее определенном разделе сетки.

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  row-gap: 16px;
}
.page-title {
  &-accent {
    @extend %section-title;

    display: block;
    margin-bottom: 8px;

    color: fn.get-color("light-primary");

    @include mx.mq("lg") {
      margin-bottom: 16px;
    }
  }
}

// .welcome-btn {
//   background-color: aqua;
// }
