@use '../../utils/placeholders';
@use '../../utils/variables' as var;
@use '../../utils/functions' as fn;
@use '../../utils/mixins' as mx;

//таблиця секції co-workers
.co-workers-table {
  width: 98%; // 98% ширини блока для залишення відступу з scroll-bar

  // не відображати таблицю до "md": 768px
  @include mx.mq('md', 'max') {
    display: none;
  }

  // заголовок таблиці
  caption {
    // розширюємо шаблоном стилів
    @extend %details;

    margin-bottom: 36px;
    color: fn.get-color('light-secondary');

    span {
      @extend %accent-text;
    }
  }
  //тіло шапки таблиці
  thead {
    position: sticky; //закріплено позицію шапки таблиці
    top: -1px;
    z-index: 100;
    background-color: fn.get-color('dark-tertiary');

    @include mx.mq('xl') {
      background-color: fn.get-color('dark-secondary');
    }

    // table header - заголовок таблиці)
    th {
      @extend %details-accent;

      position: relative;
      padding: 12px 20px;
      border-bottom-width: 1px; //  резервуємо border width для подальшого кращего позиціювання підкреслення ячейки

      color: fn.get-color('light-primary');
      font-weight: 400;

      // кастомне підкреслення рядка
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%; // псевдоелемент на всю ширину рядка th
        height: 1px;

        background-color: fn.get-color('light-tertiary');

        @include mx.mq('xl') {
          background-color: fn.get-color('dark-tertiary');
        }
      }
      // перша ячейка у рядку th - заголовка таблиці
      &:first-child {
        text-align: center;
      }
    }
  }
  // тіло таблиці
  tbody {
    @extend %details;

    color: fn.get-color('light-secondary');

    // table data - ячейка таблиці
    td {
      position: relative;

      padding: 16px 20px;
      vertical-align: middle;
      border-bottom-width: 1px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 1px;

        background-color: fn.get-color('light-tertiary');

        @include mx.mq('xl') {
          background-color: fn.get-color('dark-tertiary');
        }
      }
    }
  }
  // елемент рамки avatar
  .thumb {
    @include mx.frame(24px, $is-circle: true);
    margin: 0 auto;
    border: solid 1px fn.get-color('light-secondary');
  }
}
