@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

body {
  // розширення селектора шаблоном (../utils//placeholders/ %main-text)
  @extend %main-text;
  //для фуллбеку додамо, sans-serif - як запасний інший шрифт бе засічок
  font-family: var.$main-font, sans-serif;
  color: fn.get-color("light-secondary");
  background-color: fn.get-color("dark-primary");
}

button {
  font-family: inherit;
  color: fn.get-color("current");
  cursor: pointer;
}
// скидання дефолтного стилю маркерів у тега summary
summary {
  list-style-type: none;
}
